@include aoa-bg-series($bg__init,$classes_init);
@media all and (orientation:portrait){
    .about{
        &-s3,&-s4,&-s5{
            background-position-x: center!important;
        }
    }
    .contact-s2{
        background-position-x: center!important;
    }
}

.comingsoon{
    &-s1{
        @include set-background($comingsoon-img,0,"center","cover","fixed");
    }
}
.contact,.faq,.offer{
    &-s3{
        background-blend-mode: multiply !important;
        background-color: #999 !important;
    }
}
.error{
    &-s1{
        @include set-background($error-img,0,"center","cover","fixed");
    }
}
.index-s1{
    background-position-x: center!important;
}
.privacy{
    &-s1{
        @include set-background($privacy-img,0,"center","cover","fixed");
    }
}
.hover{
    &-underline{
        &:hover{
            text-decoration: underline !important;
        }
    }
}
.text{
    &-shadow{
        text-shadow: $text__shadow;
    }
}
h1,h2,h3,h4,h5,h6,.nav-link{
    font-family:"FugazOne";
    letter-spacing: 1px;
}
nav{
    z-index: 10;
}
textarea{
    resize: none;
}
@media all and (max-width: 767px){
    .about{
        &-s1,&-s3,&-s4,&-s5{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1,&-s4{
            background-position: right!important;
        }
    }
    .contact{
        &-s1,&-s2{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
    }
    .faq,.offer{
        &-s1,&-s3{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .index{
        &-s1{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
    }
    .navbar{
        &-toggler{
            background-color: #666;
            border-color: #333;
        }
        &-nav{
            background-color: #666;
            border: 1px solid #333;
            opacity: 0.9;
            padding: 10px
        }
    }
}