$prefix: "../";
$bg__about-img: 
    $prefix+"img/about/about-s1.jpg",
    "",
    $prefix+"img/about/about-s3.jpg",
    $prefix+"img/about/about-s4.jpg",
    $prefix+"img/about/about-s5.jpg";
$comingsoon-img: "../img/error_bg.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg",
    $prefix+"img/contact/contact-s3.jpg";
$error-img: "../img/error_bg.jpg";
$bg__faq-img: 
    $prefix+"img/faq/faq-s1.jpg",
    "",
    $prefix+"img/faq/faq-s3.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__offer-img: 
    $prefix+"img/offer/offer-s1.jpg",
    "",
    $prefix+"img/offer/offer-s3.jpg";
$privacy-img: "../img/error_bg.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__init:
    "about",
    "comingsoon",
    "contact",
    "error",
    "faq",
    "index",
    "offer",
    "privacy",
    "user";
$classes_init:
    $bg__about-img,
    $comingsoon-img,
    $bg__contact-img,
    $error-img,
    $bg__faq-img,
    $bg__index-img,
    $bg__offer-img,
    $privacy-img,
    $bg__user-img;
$footer-height: 41px;
$text__shadow: 1px 1px 3px #333;